@model IEnumerable<ServiceAuto.Models.EmployeeAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>EmployeeAddresses</h1>

<p>
    <a asp-action="Create">Add New Address</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeAddress1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeAddress1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
