@model ServiceAuto.Models.ExpenseReport

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpenseReport</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseReportExpense)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseReportExpense)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseReportIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseReportIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseReportProfit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseReportProfit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
